@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f8f9fb;
  color: #111;
}

.header {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.logo img {
  height: 15px;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a:last-child {
  display: none;
}

.nav a.active {
  height: 94px;
  font-weight: 600;
  color: #28a745;
  border-bottom: 2px solid #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.conf-btn {
  width: 269px;
  height: 42px;
  font-size: 15px;
  color: #7B83CE;
  text-decoration: none;
  border: 1px solid #dce0ef;
  border-radius: 40px;
  padding: 6px 14px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conf {
  width: 70px;
  height: 39px;
  font-size: 15px;
  color: #7B83CE;
  text-decoration: none;
  border: 1px solid #7B83CE;
  border-radius: 40px;
  padding: 6px 14px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.icon {
  width: 45px;
  height: 40px;
}

.iconn {
  width: 30px;
  height: 30px;
}

.profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


.container {
  max-width: 1920px;
  margin: 20px auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}


.vacancies h2 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

.vacancy {
  width: 834px;
  height: 175px;
  background: #FAFBFD;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.vacancy.highlight {
  background: #8FD8AC;
  position: relative;
}

.rang span {
  color: #fff;
}

.vacancy-left h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.vacancy-left p {
  font-size: 13px;
  color: #666;
}

.meta {
  font-size: 12px;
  color: #999;
}

.vacancy-right {
  width: 150px;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 13px;
}

.border {
  width: 1px;
  height: 157px;
  background-color: #E5E6E8;
}

.spannn {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.vacancy-right span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.new {
  color: #8FD8AC;
}

.in-progress {
  color: #2C2C2C;
}

.rejected {
  color: #2C2C2C;
  ;
}

.vacancy-left p {
  color: #2C2C2C;
  font-size: 16px;
  font-weight: 400;
}

.vacancy-left span {
  color: #A8A8A9;
  font-size: 14px;
  font-weight: 400;
}

.vacancy-left h3 {
  font-size: 20px;
  font-weight: 700;
}

.vacancy-left {
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.urgent {
  width: 90px;
  height: 25px;
  font-size: 12px;
  color: #2C2C2C;
  font-weight: 400;
  border-radius: 36px;
  background-color: #fff;
  border: none;
  position: absolute;
  top: -10px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 12px;
}


.meetings {
  width: 896px;
  height: 229px;
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 25px;
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}

.tabs h3 {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #919292;
}

.none {
  display: none;
}

.meeting-card {
  width: 240px;
  height: 190px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  border-right: 1px solid #EAEAEA;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.meeting-card .image img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
}

.image {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}

.meeting-card h3 {
  width: 180px;
  font-size: 18px;
  font-weight: 600;
  color: #2C2C2C;
}

.time {
  width: 70px;
  height: 30px;
  background-color: #FFF7DA;
  font-size: 8px;
  font-weight: 400;
  color: #2C2C2C;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
}

.meeting-card p {
  width: 180px;
  font-size: 14px;
  color: #ABABAB;
  font-weight: 400;
}

.meeting-card .time {
  margin-left: auto;
  font-size: 13px;
  font-weight: bold;
}

#small {
  border: none;
}

.wow {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.wow h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2C2C2C;
}

.resumes {
  background: transparent;
  border-radius: 12px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: -17px;
}

.spectr {
  background-color: #F6F7F8;
  width: 86px;
  height: 20px;
  border: none;
  color: #2C2C2C;
  font-size: 10px;
  font-weight: 400;
  border-radius: 45px;
  position: absolute;
  left: 275px;
  top: 80px;
}

.resume-card {
  width: 378px;
  height: 110px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 10px 14px;
  gap: 30px;
  background-color: #fff;
  position: relative;
}

.resume-cardd {
  width: 230px;
  height: 98px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding-top: 10px 0px 8px 10px;
  gap: 10px;
  background-color: #fff;
  display: none;
}

.resume-card img {
  width: 58px;
  height: 58px;
  margin-right: 10px;
}

.vay {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.vay h3 {
  font-size: 18px;
  font-weight: 600;
  color: #2C2C2C;
}

.resume-card h3 {
  font-size: 14px;
}

.resume-card p {
  font-size: 12px;
  color: #666;
}

#yarimta {
  width: 140px;
}

.community {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.community h3 {
  font-size: 24px;
  font-weight: 700;
}

.community-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.community-card {
  position: relative;
}

.community-card img {
  width: 433px;
  height: 293px;
  border-radius: 10px;
}

@media(max-width:1366px) {
  body {
    overflow-x: hidden;
  }

  .header {
    width: 1366px;
  }

  .header-actions {
    gap: 150px;
  }

  .conf-btn {
    margin-left: -60px;
  }

  .vacancy {
    width: 600px;
  }

  .h3 {
    display: none;
  }

  .none {
    display: flex;
  }

  .meetings {
    width: 670px;
  }

  #small {
    display: none;
  }

  .meeting-card {
    width: 190px;
    height: 169px;
    padding: 1px;
  }

  .resume-card {
    width: 350px;
    height: 98px;
  }

  #yarimta {
    display: none;
  }

  #yoq {
    display: none;
  }

  .spectr {
    position: absolute;
    left: 250px;
    top: 70px;
  }

  .community-card img {
    width: 320px;
    height: 211px;
  }
}
@media(max-width:1280px) {
  body {
    margin: 0;
    padding: 0;
  }

  .header {
    max-width: 1280px;
  }

  .conf-btn {
    display: none;
  }

  .conf {
    display: flex;
  }

  .meetings {
    width: 610px;
    height: 223px;
    padding: 15px;
  }

  .resume-card {
    width: 360px;
    height: 98px;
  }

  .resume-card:nth-child(2) {
    display: none;
  }

  .resume-cardd {
    display: flex;
  }

  .community-grid {
    gap: 20px;
  }

  .community-card img {
    width: 295px;
    height: 211px;
  }
}
@media (max-width:1024px) {
  .header {
    height: 80px;
  }

  .nav {
    overflow-x: auto;
    white-space: nowrap;
    gap: 16px;
  }

  .nav a {
    font-size: 14px;
  }

  .header-actions {
    gap: 12px;
  }

  .conf-btn {
    display: none;
  }

  .conf {
    display: flex;
    margin-left: -40px;
    margin-right: 70px;
  }

  .vacancy-right {
    width: 400px;
    border: none;
    border-top: 1px solid #2C2C2C;
    border-left: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rang {
    border: none;
    border-top: 1px solid #fff;
  }

  .spannn {
    display: flex;
    flex-direction: row;
    width: 442px;
    gap: 20px;
    height: 50px;
  }

  .vacancy {
    width: 442px;
    height: 300px;
    display: flex;
    flex-direction: column;
    line-height: normal;
  }

  .icons img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width:960px) {
  .nav a:last-child {
    display: flex;
  }

  .header-actions a {
    display: none;
  }

  .nav {
    width: 393px;
    height: inherit;
    border: none;
  }
}
